[submodule "Turtle/vendor/GLFW"]
	path = Turtle/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Turtle/vendor/spdlog"]
	path = Turtle/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Turtle/vendor/glm"]
	path = Turtle/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Turtle/vendor/imgui"]	
	path = Turtle/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Turtle/vendor/yaml-cpp"]
	path = Turtle/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Turtle/vendor/portable-file-dialogs"]
	path = Turtle/vendor/portable-file-dialogs
	url = git@github.com:samhocevar/portable-file-dialogs.git
